<ion-view>
    <ion-nav-title>
        <img src="img/logo.png">
    </ion-nav-title>

    <ion-content>
        <ion-list>
            <div class="help-content" ng-repeat="item in helpList">
                <ion-item class="item-stable item-text-wrap" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">
                    {{item.title}}
                </ion-item>
                <ion-item class="item-accordion item-text-wrap" ng-show="isGroupShown(item)">
                    {{item.content}}
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>