<ion-view>
    <ion-nav-title>
        <img src="img/logo.png">
    </ion-nav-title>
    <ion-content>
        <tab-slide-box tab="0">
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <a href="javascript:;">AULAS</a>
                    <a href="javascript:;">CALENDÁRIO</a>
                </div>
            </div>
            <ion-slide-box active-slide="activeSlide" show-pager="false" on-slide-changed="slideHasChanged($index)" class="signin-slide teacher-profile">

                <!-- AULAS -->
                <ion-slide>
                    <ion-list class="classes-list schedule-teacher-list" ng-show="itemsSchedule.length > 0">
                        <ion-item ng-repeat="item in itemsSchedule">
                            <!--href="#/app/messages/item.id"-->
                            <div class="title-container">
                                <div class="title">
                                    <span>{{item.title}}</span>
                                </div>
                            </div>

                            <ion-list class="list-items schedule-teacher-item-list">
                                <ion-item class="item" ng-repeat="itemHour in item.hour" ng-click="openClass(itemHour)">
                                    <!--href="href="#/app/teacherclass/{{$index}}""-->
                                    <div class="hour">
                                        {{itemHour.hour}}
                                    </div>
                                    <div class="avatar">
                                        <img ng-src="{{itemHour.avatar.length ? itemHour.avatar : 'img/profile-no-photo.png'}}" width="" class="avatar">
                                    </div>
                                    <div class="name-container">
                                        <div class="name">{{itemHour.name}}<br><small class="status " ng-class="[itemHour.status]">{{itemHour.descriptionStatus}}</small></div>
                                        <div class="duration">{{itemHour.duration}}</div>
                                    </div>
                                </ion-item>
                            </ion-list>
                        </ion-item>
                    </ion-list>

                    <div class="error" ng-show="itemsSchedule.length <= 0">
                        <p><i class="icon ion-social-buffer"></i></p>
                        <p>Você ainda não tem aulas agendadas</p>
                    </div>
                </ion-slide>



                <!-- CALENDARIO -->
                <ion-slide>
                    <onezone-datepicker datepicker-object="onezoneDatepicker"></onezone-datepicker>
                </ion-slide>
            </ion-slide-box>
        </tab-slide-box>

    </ion-content>
</ion-view>