<ion-view>
    <ion-nav-title>
        <img src="img/logo.png">
    </ion-nav-title>
    <ion-content>
        <div class="error" style="height: 255px !important; width: 80%; padding-bottom: 0; " ng-click="copy()">
            <p><i class="icon ion-wand" style="font-size: 72px"></i></p>
            <p>Indique o Zim para os seus amigos e ganhe desconto de 20% na sua próxima aula!</p><br>
            <p>O seu código para indicação é</p>
            <p><strong style="font-size: 24px">{{codigo}}</strong></p>
            <small>Toque a tela para copiar e mande para os seus amigos</small>
        </div>

    </ion-content>
</ion-view>