<!--<ion-view enable-menu-with-back-views="true">-->
<ion-modal-view class="modal">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-icon " ng-click="closeModalTerms()">
                <i class="icon ion-close"></i>
        </button>
        </div>
    </ion-header-bar>

    <ion-content class="padding" style="text-align: justify" scroll="true">
        <p><strong style='font-size:16px;'>Termo de Uso</strong></p>

        <p><b><u><span style='font-size:16px;'>SUMÁRIO DO TERMO DE USO</span></u></b></p>

        <p>Bem-vindo ao Zim. Por favor, leia a Política de Privacidade e os termos de uso (<b>&quot;Termos de Uso&quot;</b>&nbsp;ou&nbsp;<b>“Termo de Uso”</b>) antes de se cadastrar no Zim &nbsp;ou acessar qualquer parte do Aplicativo incluindo acesso a
            qualquer material, salas de chat ou outros serviços eletrônicos. Ao utilizar o Aplicativo, você aceita, concorda e legalmente se obriga aos Termos de Uso e a Política de Privacidade, mesmo sem a realização do cadastro no Aplicativo. Se você
            não entende ou não deseja se obrigar aos Termos de Uso ou a Política de Privacidade, você não deve acessar o Aplicativo.
        </p>

        <p>Zim reserva-se o direito de modificar os Termos de Uso a qualquer momento sem aviso prévio. Quaisquer alterações aos Termos de Uso entrarão em vigor imediatamente após sua publicação no Aplicativo, vigendo por prazo indeterminado. Ao acessar o
            Aplicativo, após quaisquer alterações, você automaticamente manifesta sua concordância com as modificações dos Termos de Uso.</p>

        <p><b><span >DESCRIÇÃO DO APLICATIVO</span></b></p>

        <p><span>O Aplicativo é uma plataforma
virtual que objetiva viabilizar a prestação de serviços educacionais (<b>“Aula”</b>)
por autônomos (<b>“Autônomos”</b>), de maneira presencial. O Zim
&nbsp;disponibiliza os perfis dos Autônomos em seu Aplicativo, conforme
cadastros preenchidos por estes, para contratação direta e independente pelos
interessados.</span></p>


        <p><b><span >COMO USAR</span></b></p>

        <p><span>1. Para
contratar os serviços educacionais divulgados no Aplicativo o interessado deve
efetuar um cadastro único gratuito, criando uma senha pessoal e intransferível.</span></p>

        <p><span>2.
Antes de decidir pela contratação do serviço educacional do Autônomo, o
interessado deverá atentar-se:</span></p>

        <p><span>(a) à
capacitação informada pelo Autônomo;&nbsp;<br>
(b) às avaliações do Autônomo publicadas no Aplicativo;<br>
(c) ao preço da Aula determinado pelo Autônomo;&nbsp;<br>
(d) ao lapso temporal da Aula;&nbsp;<br>
(e) às formas de pagamento; e&nbsp;<br>
(f) à disponibilidade de agenda do Autônomo.</span></p>

        <p><span>3. A
contratação dos serviços educacionais do Autônomo é feita diretamente pelo
interessado, de maneira independente, sem qualquer intervenção do Zim.</span></p>

        <p><span>4. O Zim disponibiliza um sistema para que os USUÁRIOS avaliem
as Aulas contratadas, respeitando a liberdade de expressão de quem opina. A
avaliação feita passa a integrar o perfil do Autônomo. Estas avaliações não
refletem indicação ou opinião do Aplicativo.&nbsp;<b>Somente as Aulas agendadas
e pagas por meio do Zim poderão receber avaliação dos USUÁRIOS.</b></span></p>

        <p><span>5. Os
USUÁRIOS são proibidos de trocar meios de contato como telefone, email,
endereço e outras externas de comunicação, com qualquer usuário, com o objetivo
de realizar a contratação das Aulas por fora da plataforma.</span></p>


        <p><b><u><span style='font-size: 16px;'>TERMO DE USO</span></u></b></p>

        <p><b><span style='font-size:14px;'>1. Abrangência</span></b></p>

        <p><span>Este Termo de Uso aplica-se
entre, de um lado,
“Zim”,  o “APLICATIVO” e, de outro lado, toda e qualquer pessoa
física ou jurídica que acesse o Aplicativo ou realize o seu cadastro, com o
intuito de contratar ou prestar serviços educacionais (o&nbsp;<b>“USUÁRIO”</b>),
e rege a utilização do Aplicativo pelo USUÁRIO, determinando as
responsabilidades, deveres e obrigações que todo USUÁRIO assume ao acessar e/ou
utilizar o Aplicativo.</span></p>

        <p><span>Ao
acessar o Aplicativo, assim como na realização de seu cadastro, o USUÁRIO fica
ciente e concorda que está sujeito a todas as disposições deste Termo de Uso e
da Política de Privacidade, declarando, para todos os fins de direito, possuir
capacidade jurídica para tanto.</span></p>

        <p><span>O
USUÁRIO pessoa física deverá ser maior de idade ou emancipado, e deve gozar de
plena capacidade civil e penal. A utilização dos serviços por USUÁRIOS menores
de idade está condicionada a autorização dos pais, tutores, curadores ou
representantes legais, que serão responsáveis por todos os atos praticados
pelos USUÁRIOS menores no Site, dentre os quais eventuais danos causados a
terceiros, práticas de atos vedados pela lei e pelas disposições deste Termo de
Uso, sem prejuízo da responsabilidade do contratante, se este não for o pai ou
o representante legal do menor infrator. Cabe aos responsáveis avaliar e
autorizar ou não a visitação do Aplicativo pelos menores de idade. O Zim não se
responsabiliza pelo controle de acesso ou pela utilização indevida por USUÁRIOS
menores de idade.</span></p>



        <p><b><span style='font-size:14px'>2. Condições gerais de
uso</span></b></p>

        <p><span>O
USUÁRIO fica ciente e concorda que a utilização dos serviços de busca e
publicidade contidos no Aplicativo devem ser realizados com finalidade
exclusivamente pessoal e imediata. Os mapas, endereços, imagens, informações e
qualquer outro conteúdo existente no Site podem não retratar fielmente a
situação real em que se encontram.</span></p>

        <p><span>O
USUÁRIO que utiliza o Aplicativo&nbsp; &nbsp;para prestar ou contratar
serviços, o faz por sua conta e risco, sem que o seja responsável pela
veracidade das informações prestadas pelos USUÁRIOS, assim como pela qualidade
e demais atributos e detalhes daquilo que é ofertado.</span></p>

        <p><span>Os
USUÁRIOS ficam cientes e concordam que o Aplicativo não poderá garantir a
qualidade das Aulas oferecidas pelos Autônomos, nem pela exatidão, completude,
adequação, efetividade, confiabilidade ou utilidade das informações ou de
qualquer outro conteúdo inserido ou ministrado no Aplicativos pelos USUÁRIOS.</span></p>

        <p><span>Desse
modo recomenda-se ao USUÁRIO que verifique a veracidade das informações obtidas
e proceda, eventualmente, às medidas cabíveis para sua proteção com relação a
eventuais danos.</span></p>

        <p><span>O
Aplicativo captura e divulga anúncios advindos de diversos Autônomos, logo, não
atua como prestador de serviços de consultoria ou ainda intermediário ou
participante em nenhum negócio que venha a ser eventualmente realizado entre
USUÁRIO(S) e Autônomo(s).</span></p>

        <p><span>O
Aplicativo não é fornecedor dos produtos e/ou serviços anunciados
exclusivamente pelos Autônomos e não participa ou interfere, de qualquer forma,
da negociação e/ou efetivação de quaisquer transações.</span></p>

        <p><span>O
Aplicativo não será responsável pelos negócios e/ou transações, efetivadas ou
não, entre USUÁRIOS ou entre USUÁRIOS e terceiros. </span></p>

        <p><span>O
USUÁRIO está ciente de que o Aplicativo não deve ser responsabilizado ou
sujeitar-se a quaisquer perdas e/ou danos incorridos em face destas transações.
Os USUÁRIOS concordam que, em caso de litígio entre USUÁRIOS ou entre USUÁRIOS
e terceiros, o Aplicativo não será, de qualquer forma, envolvido ou
responsabilizado.</span></p>

        <p><span>O
USUÁRIO fica ciente e concorda que o Aplicativo tem total liberdade para
acrescentar ou remover funcionalidades, bem como controlar e alterar a
visualização dos anúncios.</span></p>

        <p><b><span style='font-size:14px'>3. Cadastro e senha do
usuário</span></b></p>

        <p><span>A utilização
de determinadas funcionalidades do serviço Aplicativo se condiciona ao prévio
cadastro do USUÁRIO, mediante o fornecimento dos dados pessoais solicitados,
definição de uma identificação ou indicação de um endereço de e-mail, bem como
de uma senha, de uso pessoal e intransferível.</span></p>

        <p><span>O
USUÁRIO também poderá se cadastrar utilizando serviço de autenticação de
terceiros (Facebook). Desta forma, sua senha e e-mail cadastrado continuam
sendo pessoal e de sua exclusiva responsabilidade.</span></p>

        <p><span>O
USUÁRIO deverá fornecer ao Aplicativo, por ocasião do seu cadastro, informações
verdadeiras, atuais e completas, bem como a assim mantê-las durante todo o
período em que utilizar o serviço.</span></p>

        <p><span>O
USUÁRIO deverá, ainda, manter a confidencialidade e pessoalidade da sua senha e
a notificar imediatamente o Aplicativo a respeito de eventual acesso indevido
ou uso não autorizado da sua senha por terceiros.</span></p>

        <p><span>O
USUÁRIO só poderá manter um único cadastro no Aplicativo.</span></p>

        <p><span>O
USUÁRIO, ao seu exclusivo critério, poderá a qualquer momento cessar a
utilização do serviço, através do cancelamento de sua conta, sendo que alguns
conteúdos gerados por este (como avaliações, blog, perguntas e respostas)
permanecerão no Aplicativo.</span></p>

        <p><span>O Aplicativo&nbsp;
poderá, a qualquer tempo, excluir o USUÁRIO do Site em razão de inobservância
às condições dos Termos de Uso, comunicando o cancelamento da conta via e-mail.</span></p>



        <p><b><span style='font-size:14px;'>4. Agendamento,
pagamento, regras de cancelamentos de aulas e conflitos</span></b></p>

        <p><span>Os
agendamentos das Aulas pelo USUÁRIO serão feitos através do Aplicativo,
conforme a disponibilidade de agenda do Autônomo. </span></p>

        <p><span>Na
hipótese de cancelamentos, não comparecimento ou ausência de aulas, fica
ajustado o seguinte:</span></p>

        <p><span>i.</span><u><span
>Cancelamento
com antecedência mínima de 3 horas:</span></u><span>&nbsp;Para cancelamentos feitos
com antecedência mínima de 3 (três) horas do horário de início da aula, não
haverá qualquer ônus para o mesmo.</span></p>

        <p><span>ii.</span><u><span
>Cancelamento
com antecedência menor que 3 &nbsp;horas:</span></u><span>&nbsp;Para cancelamentos
feitos com antecedência&nbsp;<u>menor que 3 (três) horas</u>&nbsp;antes do
horário de início da aula, o USUÁRIO será cobrado o valor equivalente a RS20,00
(vinte), como forma de compensação ao Autônomo pelo bloqueio do horário de
aula.</span></p>



        <p><span>iii.&nbsp;<u>Não comparecimento
ou ausência:</u>&nbsp;Caso o USUÁRIO não compareça no horário agendado da aula,
este não fará jus ao ressarcimento de qualquer valor pago.</span></p>



        <p><span>Ao
realizar o pagamento por fora da plataforma (dinheiro, cheque, depósito em
conta ou outro meio que não através do Aplicativo,  Autônomo e USUÁRIO
expressamente concordam que o Aplicativo não pode garantir o pagamento da aula,
não pode garantir o respeito às políticas de cancelamento e falta e não pode
auxiliar na mediação eventuais conflitos.</span></p>



        <p><b><span style='font-size:14px;'>5. Conteúdo criado pelo
usuário</span></b></p>

        <p><span>O
USUÁRIO poderá incluir informações pessoais, avaliações, comentários,
mensagens, imagens, fotos, perguntas, respostas, sugestões e artigos, para
exibição no Aplicativo, e qualquer pessoa poderá visualizar o conteúdo
disponibilizado pelo USUÁRIO no Aplicativo.</span></p>

        <p><span>O USUÁRIO
deverá fornecer ao Aplicativo, ao incluir qualquer conteúdo para exibição no
Aplicativo, informações verdadeiras, objetivas, atuais e pertinentes à
finalidade da plataforma Aplicativo, de forma ética, moral e lícita.</span></p>

        <p><span>O
USUÁRIO é inteiramente responsável pela origem das imagens, sons, vídeos,
materiais e conteúdos que envie e/ou divulgue, de modo que, ao enviar e/ou
divulgar informações, o USUÁRIO afirma, declara e garante que (a) tem os
necessários direitos, licenças, autorizações e/ou permissões para reproduzir e
publicar as informações enviadas e/ou divulgadas; e (b) o envio e/ou divulgação
das informações não infringem ou violam os direitos de quaisquer terceiros.</span></p>

        <p><span>O
USUÁRIO é o único responsável por todo conteúdo de sua autoria ou por ele
enviado, divulgado, transmitido por e-mail ou associado a link disponibilizado;
assim como pelo seu uso, divulgação ou publicação, devendo o USUÁRIO manter o Aplicativo,
seus funcionários, parceiros e controladores livres e indenes de toda e
qualquer consequência advinda de seus atos/omissões, inclusive em relação a
terceiros, não podendo o Aplicativo ser responsabilizado pelo envio e/ou
divulgação de informações em inobservância aos Termos de Uso e às normas legais
aplicáveis.</span></p>



        <p><b><span style='font-size:14px;'>6. Práticas proibidas</span></b></p>

        <p><span>O
USUÁRIO fica ciente e concorda que, no acesso e utilização do Aplicativo, é
terminantemente proibido:</span></p>

        <p><span>i.
Distribuir, modificar, vender, alugar ou de qualquer forma explorar
economicamente o serviço Aplicativo, os dados e informações a ele relacionados,
bem como utilizá-los para finalidade que não seja pessoal e imediata ou, ainda,
para a criação ou fornecimento de outros produtos ou serviços;</span></p>

        <p><span>ii. O
USUÁRIO se compromete a não praticar atos que:</span></p>

        <p><span>-
Violem a lei, a moral, os bons costumes, a propriedade intelectual, os direitos
à honra, à vida privada, o sigilo das comunicações, à imagem, à intimidade
pessoal e familiar;<br>
- Infrinjam patentes, marcas, segredos comerciais, direitos autorais;<br>
- Estimulem a prática de condutas ilícitas;<br>
- Incitem a prática de atos de discriminação, seja em razão de sexo, raça,
religião, crenças, idade ou qualquer outra condição;<br>
- Coloquem à disposição ou possibilitem o acesso a mensagens, produtos ou
serviços ilícitos, violentos, pornográficos, degradantes;<br>
- Induzam ou incitem práticas perigosas, de risco ou nocivas para a saúde e
para o equilíbrio psíquico;<br>
- Sejam falsos, ambíguos, inexatos, exagerados, de forma que possam induzir a
erro sobre seu objeto ou sobre as intenções ou propósitos do comunicador;<br>
- Constituam publicidade ilícita, enganosa ou desleal, e que configurem
concorrência desleal;<br>
- Veiculem, incitem ou estimulem a pedofilia;<br>
- Hostilizem terceiros;<br>
- Transmitam conteúdos ilegais, danosos, incômodos, ameaçadores, abusivos,
tortuosos, difamatórios, vulgares, obscenos, invasores da intimidade de
terceiros, odiosos, xenófobos, ou, de algum modo, inaceitáveis; e/ou<br>
- Sejam considerados como práticas de Spam.</span></p>

        <p><span>iii.
Fornecer ao Aplicativo, por ocasião do cadastro e preenchimento de perfil no
Site, informações falsas, inexatas, desatualizadas ou incompletas, bem como
assumir intencionalmente a personalidade de outra pessoa, física ou jurídica;</span></p>

        <p><span>iv.
Incluir meios de contato como telefone, email, endereço e outras externas de
comunicação em campos públicos do perfil, os quais não USUÁRIOS tenham acesso;</span></p>

        <p><span>v.
Disseminar ou instalar vírus ou qualquer outro código, arquivo ou software com
o propósito de interromper, destruir, acessar indevidamente, limitar ou
interferir no funcionamento ou segurança do serviço Aplicativo, bem como das
informações, dados e equipamentos do Aplicativo, de seus USUÁRIOS ou de
terceiros, ou, ainda, para qualquer outra finalidade ilícita; e</span></p>

        <p><span>vi.
Praticar qualquer ato contrário à legislação em vigor.</span></p>

        <p><span>Os
conteúdos inseridos no Aplicativo estarão sujeitos ao monitoramento e moderação
posterior ao seu envio e/ou divulgação, quanto ao teor e qualidade, podendo ser
excluídos ou suprimidos se violarem qualquer um dos dispositivos legais ou dos
Termos de Uso.</span></p>

        <p><span>O Aplicativo
não controla os conteúdos transmitidos ou disponibilizados a terceiros pelo
USUÁRIO no acesso ou utilização do Aplicativo. Não obstante, ao detectar
qualquer conduta e/ou método do USUÁRIO que contrarie o disposto neste Termo de
Uso, poderá excluir/suspender avaliação do Aplicativo e poderá notificar,
posteriormente, o USUÁRIO para que a situação seja regularizada.</span></p>

        <p><span>Qualquer
pessoa, USUÁRIO ou não, que se sentir lesado em relação a qualquer conteúdo,
poderá encaminhar ao Aplicativo &nbsp;notificação solicitando sua retirada.</span></p>

        <p><span>O Aplicativo
&nbsp;não se responsabiliza pelo destino sugerido em links vinculados na página
dos estabelecimentos e não mantém vínculos com outros sites eventualmente
sugeridos por estes links.</span></p>



        <p><b><span style='font-size:14px;'>7. Bloqueio e
cancelamento de cadastro do usuário</span></b></p>

        <p><span>O
USUÁRIO fica ciente e concorda que o Aplicativo, tomando conhecimento de
qualquer violação ao disposto neste Termo de Uso, poderá bloquear
temporariamente ou cancelar em caráter definitivo o seu cadastro no Aplicativo,
independentemente de prévia comunicação.</span></p>

        <p><span>O Aplicativo
&nbsp;poderá bloquear e cancelar cadastros de USUÁRIOS que apresentem
qualificações negativas de forma reiterada por outros USUÁRIOS.</span></p>



        <p><b><span style='font-size:14px;'>8. Utilização e
divulgação de dados do usuário</span></b></p>

        <p><span>O
USUÁRIO fica ciente e concorda que o Aplicativo &nbsp;poderá utilizar o
endereço de e-mail porventura fornecido por ocasião do seu cadastro no Site
para o envio de informações, de qualquer natureza, relacionadas ao serviço Aplicativo.</span></p>

        <p><span>O
USUÁRIO fica ciente e concorda que os dados que fornece ao Aplicativo e os
porventura registrados por este, por ocasião de seu cadastro e em decorrência
da utilização dos serviços, incluindo informações relativas à sua identificação
e localização, poderão, eventualmente ser preservados e/ou fornecidos às
autoridades competentes em cumprimento de ordens judiciais.</span></p>



        <p><b><span style='font-size:14px;'>9. Cessão do direito patrimonial</span></b></p>

        <p><span>O
USUÁRIO cede gratuitamente ao Aplicativo &nbsp;o direito de obter, armazenar,
usar, dispor, editar, publicar, republicar e reproduzir seus conteúdos, como
suas avaliações, comentários, perguntas, respostas, artigos, e aulas online
(com as respectivas imagens, áudios, vídeos, voz, conteúdo, desenhos, produções
e ilustrações) de sua autoria, escritos ou não, postados e gravados no Site.</span></p>

        <p><span>Para
pleno exercício das atividades do Aplicativo, o USUÁRIO lhe cede ainda, em
caráter definitivo e irrevogável, os direitos patrimoniais dos conteúdos de sua
autoria, exclusivamente postados e gravados no Site.</span></p>

        <p><span>A
presente cessão é realizada em caráter definitivo e irrevogável, para que o Aplicativo&nbsp;dela
possa se utilizar, no todo ou em parte, em todo território nacional, por tempo
indeterminado, em qualquer de suas publicações, sem limitações, por suportes de
qualquer natureza e mediante qualquer processo, em qualquer forma e formato.</span></p>



        <p><b><span style='font-size:14px;'>10. Responsabilidade</span></b></p>

        <p><span>O
USUÁRIO fica ciente e concorda que o Aplicativo &nbsp;não é responsável:</span></p>

        <p><span>i. por
eventual falta de qualidade, de exatidão, de completude, de adequação, de
efetividade, de confiabilidade ou de utilidade dos mapas, endereços,
estabelecimentos, imagens, informações, avaliações, comentário ou de qualquer
outro conteúdo do serviço;</span></p>

        <p><span>ii. por
qualquer serviço, anúncio, propaganda, imagem, texto ou outro conteúdo
relacionado ao serviço que seja criado, mantido ou prestado por USUÁRIOS ou por
terceiros, ainda que acessível ou visualizável no Site;</span></p>

        <p><span>iii.
pelas condições reais de uso, consequências e eventuais danos decorrentes do
uso dos mapas, endereços, estabelecimentos, Autônomos, imagens, informações
avaliações, comentário ou de qualquer outro conteúdo dos serviços de informação
prestados pelo Aplicativo;</span></p>

        <p><span>iv. por
eventuais danos decorrentes da inobservância, pelo USUÁRIO, do dever de
manutenção da confidencialidade e pessoalidade da sua senha, bem como da falta
ou atraso no envio de notificação ao Aplicativo &nbsp;a respeito de eventual
acesso indevido ou uso não autorizado da sua senha por terceiros;</span></p>

        <p><span>v. por
qualquer dano sofrido pelo USUÁRIO em decorrência da conduta de outros USUÁRIOS
ou terceiros, ainda que no âmbito do serviço&nbsp;Aplicativo;</span></p>

        <p><span>vi. por
interceptações ilegais ou violação de seus sistemas ou bases de dados por parte
de pessoas não autorizadas;</span></p>

        <p><span>vii.
por qualquer dano sofrido pelo USUÁRIO em decorrência da remoção de qualquer
conteúdo que criar, incluir ou divulgar no serviço Aplicativo, do cancelamento
do seu cadastro no Site, bem como da preservação ou fornecimento de informações
a seu respeito, incluindo relativas à sua identificação e localização, pelo Aplicativo,
em cumprimento de ordens judiciais;</span></p>

        <p><span>viii.
por eventual modificação, suspensão ou interrupção do serviço Aplicativo;</span></p>

        <p><span>ix. por
manter os serviços disponíveis no período de 24 (vinte e quatro) horas por dia,
todos os dias do ano;</span></p>

        <p><span>x. por
obrigações de natureza fiscal, trabalhista, consumerista e demais obrigações
incidentes nas transações realizadas através do Site entre USUÁRIOS. Desta
forma, todas as obrigações oriundas de suas atividades, são de exclusiva
responsabilidade do USUÁRIO.</span></p>

        <p><span>O
USUÁRIO fica ciente e concorda que é integralmente responsável por quaisquer
danos decorrentes das ações e ou omissões por si praticadas em inobservância
dos Termos de Uso.</span></p>

        <p><span>O
USUÁRIO se compromete a defender, indenizar e isentar de qualquer
responsabilidade o Aplicativo, seus executivos, subsidiárias, afiliados,
sucessores, prepostos, diretores, agentes, prestadores de serviços,
fornecedores e funcionários com relação a toda e qualquer reclamação, perda,
dano, obrigação, custos, dívidas ou despesas (incluindo, entre outros,
honorários advocatícios e custas processuais) incorridas em razão de: (a) mau
uso e acesso do Aplicativo; (b) violação e/ou não observância de quaisquer
dispositivos deste termo; (c) violação de qualquer direito de terceiros,
incluindo, mas sem se limitar a, qualquer direito de propriedade, intelectual
ou de privacidade; ou (d) qualquer reclamação de que algum conteúdo causou dano
a terceiros. Esta defesa e obrigação de indenização subsistirão a este termo e
ao uso e/ou acesso do Site.</span></p>

        <p><span>O Aplicativo
não endossa qualquer conteúdo enviado por qualquer USUÁRIO quer seja uma
opinião, recomendação ou conselho ali expresso.</span></p>



        <p><b><span style='font-size:14px;'>11. Privacidade</span></b></p>

        <p><span>O uso
do Site está sujeito à Política de Privacidade disponível para consulta e
praticada no Site, que está incorporada ao Termo de Uso por esta referência.
Qualquer restrição que o USUÁRIO venha ter com relação à Política de
Privacidade deverá ser notificada ao Aplicativo &nbsp;para que sejam tomadas as
providências cabíveis.</span></p>



        <p><b><span style='font-size:14px;'>12. Modificação do Termo
de Uso</span></b></p>

        <p><span>O
USUÁRIO fica ciente e concorda que este Termo de Uso poderá ser alterado pelo Aplicativo,
a qualquer tempo.</span></p>

        <p><span>O
USUÁRIO poderá, a qualquer momento, acessar a versão atualizada deste Termo de
Uso no Aplicativo.</span></p>

        <p><span>O uso
continuado do Aplicativo constitui aceitação da versão mais recente do Termo de
Uso e Política de Privacidade.</span></p>



        <p><b><span style='font-size:14px;'>13. Regras gerais e Foro</span></b></p>

        <p><span>O
USUÁRIO reconhece que o Aplicativo &nbsp;não é obrigado a manter ou armazenar
qualquer conteúdo no Aplicativo, podendo, a qualquer momento e por qualquer
motivo, modificar ou descontinuar o Aplicativo, sem aviso prévio, e sem que
qualquer obrigação seja criada com os USUÁRIOS ou com terceiros por tais
modificações, suspensões ou descontinuidade do Serviço.</span></p>

        <p><span>O
USUÁRIO concorda que o Aplicativo, a seu critério, pode excluir ou desativar
sua conta, bloquear seu e-mail ou endereço de IP, ou, de outro modo, encerrar
seu acesso ou uso do Aplicativo (ou parte dele) imediatamente, sem aviso
prévio, além de remover qualquer conteúdo do Aplicativo.</span></p>

        <p><span>Na
hipótese de que qualquer item, termo ou disposição deste termo vir a ser
declarado nulo ou não aplicável, tal nulidade ou inexequibilidade não afetará
quaisquer outros itens, termos ou disposições aqui contidos, os quais
permanecerão em pleno vigor e efeito.</span></p>
        <p><span>Fica
instituído o Foro do Rio de Janeiro para dirimir eventuais controvérsias
relativas ao Termo de Uso.</span></p>

    </ion-content>
    <!--</ion-view>-->
</ion-modal-view>