<tab-slide-box tab="0">
    <div class="tsb-icons">
        <div class="tsb-ic-wrp">

            <a href="javascript:;">PERFIL</a>
            <a href="javascript:;">BAIRROS</a>
            <!--<a href="javascript:;">MATÉRIAS</a>-->
            <a href="javascript:;">DIAS</a>

        </div>
    </div>
    <ion-slide-box active-slide="activeSlide" show-pager="false" on-slide-changed="slideHasChanged($index)" class="signin-slide teacher-profile">
        <ion-slide>
            <form name="registerForm" novalidate="" ng-submit="doEditUser(registerForm)">
                <div class="photo-user text-center">
                    <img id="user-photo" class="profile-picture" ng-src="{{userProfile.img != '' && userProfile.img || 'img/profile-no-photo.png' }}" ng-click="getPhoto('user-photo')" />
                </div>
                <div class="user-profile-form">
                    <label class="item item-input">
                        <input type="text" style="text-align: center; border: none;" placeholder="Nome" name="name" ng-class="{ 'input-error' : registerForm.name.$invalid && registerForm.$submitted }"  ng-model="userProfile.name" value="userProfile.name" required>
                    </label>

                    <label class="item item-input">
                        <input type="email" placeholder="Email" value="{{userProfile.email}}" disabled style="background: #FFF;">
                    </label>

                    <label class="item item-input">
                        <input type="text" placeholder="Telefone"  value="{{userProfile.phone}}" disabled style="background: #FFF;">
                    </label>

                    <!--
                    <div class="row">
                        <div class="col col-100">
                            <h3>Valor da Hora/Aula</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-10">
                            <i class="icon ion-information-circled" style="color: #53c5cf; font-size: 20px;" ng-click="showInfoValor($event)"></i>
                        </div>
                        <div class="col col-90">
                            <input type="text" mask="9?9?9" clean="true" restrict="accept" placeholder="Valor da Hora/Aula" ng-model="userProfile.dados.valor_aula" name="valor_aula" ng-class="{ 'input-error' : descriptionForm.valor_aula.$invalid && descriptionForm.$submitted }"
                                required>
                        </div>
                    </div>
                    -->

                    <div class="row">
                        <h3>Descrição Pessoal</h3>
                    </div>

                    <div class="row">
                        <div class="col col-100">
                            <textarea style="width: 100%" rows="9" placeholder="Descreva porque um aluno deve contratar os seus serviços" ng-model="userProfile.dados.descricao" name="descricao" ng-class="{ 'input-error' : personalDataForm.descricao.$invalid && personalDataForm.$submitted }"
                                required></textarea>
                        </div>
                    </div>
                    <button class="button bg-principal button-bottom-right button-bottom-right-slide"><i class="icon ion-arrow-right-c"></i></button>
                </div>
            </form>
        </ion-slide>



        <ion-slide>
            <form name="addressForm" novalidate="" ng-submit="saveAddressTeacher(addressForm)">
                <div class="row margin-top">
                    <h3>Bairros atendidos</h3>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <!--<input type="text" placeholder="Nome do bairro">-->
                        <ion-google-place placeholder="Nome do Bairro" ng-model="neighborhood" name="neighborhood" location-changed="addNeighborhood" style="z-index: 9999" />
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100">
                        <ion-list class="neighborhood">
                            <ion-item class="item item-icon-right" ng-repeat="bairro in userProfile.neighborhood">
                                {{bairro.name}}
                                <i class="icon ion-close" ng-click="remNeighborhood($index)"></i>
                            </ion-item>
                        </ion-list>
                    </div>
                </div>
                <div class="row margin-top">
                    <h3>Deslocamento entre as aulas</h3><br>
                </div>
                <div class="row">
                    <div class="col col-100">

                        <div class="item range" style="border: none; background: transparent !important;">
                            <input type="range" ng-model="userProfile.dados.deslocamento" name="deslocamento" min="15" max="125" value="{{userProfile.dados.deslocamento}}" step="4">
                        </div>
                        <div class="radius text-center">
                            <!--<small><span ng-if="userProfile.dados.deslocamento < 30">15 minutos</span> <span ng-if="userProfile.dados.deslocamento >= 30 && userProfile.dados.deslocamento < 45">30 minutos</span> <span ng-if="userProfile.dados.deslocamento >= 45 && userProfile.dados.deslocamento < 60">45 minutos</span> <span ng-if="userProfile.dados.deslocamento >= 60 && userProfile.dados.deslocamento < 90">1 hora</span> <span ng-if="userProfile.dados.deslocamento >= 90 && userProfile.dados.deslocamento < 120">1 hora e meia</span>     <span ng-if="userProfile.dados.deslocamento >= 120">2 horas</span></small>-->
                            <small><span ng-if="userProfile.dados.deslocamento >= 0 && userProfile.dados.deslocamento < 60">30 minutos</span>  <span ng-if="userProfile.dados.deslocamento >= 60 && userProfile.dados.deslocamento < 90">1 hora</span> <span ng-if="userProfile.dados.deslocamento >= 90 && userProfile.dados.deslocamento < 120">1 hora e meia</span>     <span ng-if="userProfile.dados.deslocamento >= 120">2 horas</span></small>
                        </div>
                    </div>
                </div>
                <!--<button class="button bg-principal button-bottom-left button-bottom-signin" ng-click="loadPersonalData()"><i class="icon ion-arrow-left-c"></i></button>-->
                <button class="button bg-principal button-bottom-right button-bottom-right-slide"><i class="icon ion-arrow-right-c"></i></button>
            </form>
        </ion-slide>


        <!--
        <ion-slide>
            <ion-content class="signin-slide padding">
                <div class="row">
                    <h3>Matérias que leciona</h3>
                </div>
                <ion-list>
                    <ion-checkbox ng-model="subject.selected" ng-repeat="subject in subjects" ng-click="subject.selected && showPopupSubject(subject)" mode="ios">{{subject.title}}</ion-checkbox>
                </ion-list>
            </ion-content>
            <button class="button bg-principal button-bottom-right button-bottom-right-slide" ng-click="saveSubjects()"><i class="icon ion-arrow-right-c"></i></button>
        </ion-slide>
        -->

        <ion-slide>
            <div class="row">
                <h3>Disponibilidade</h3>
            </div>
            <ion-list class="availability">
                <!--ng-click="showPopupDay()"-->
                <ion-checkbox ng-model="day.selected" ng-repeat="day in weekDays" ng-click="day.selected && showPopupDay($index)">
                    {{day.name}}
                </ion-checkbox>
            </ion-list>
            <button class="button bg-principal button-bottom-right button-bottom-right-slide" ng-click="saveAvailability() "><i class="icon ion-arrow-right-c "></i></button>
        </ion-slide>


    </ion-slide-box>
</tab-slide-box>